<form action="/cats" method="POST">
  <p>
    Name:<br />
    <input type="text" name="name" />
  </p>
  <p>
    Type:<br />
    <input type="text" name="type" />
  </p>
  <p>
    <input type="submit" value="Adopt Cat" />
  </p>
</form>
